#login-error_message {
    margin-top: 20px;
}

.pre-footer {
    height: 30px;
}

.users-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    cursor:  pointer;
}

.panel-title a {
    n-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    text-decoration: underline;
}
