<script type="text/template" id="src-500_err">
<div class="text-center">
    <h1 class="big-title" style="font-size: 60px;"><strong>500</strong> Internal Error</h1>
    <div class="up"></div>
    <h3>The page you try to see cannot found</h3>
</div>
<div class="down"></div>
<div class="text-center" style="width:100%; margin: auto;">
    <button class="btn btn-default" onclick="window.app.navigate('', true)">Home</button>
</div>
<div class="pre-footer"></div>
</script>
