<script type="text/template" id="src-heading_content">
    <h1><%= head %></h1>
    <p class="lead"><%= content %></p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
</script>
